{% extends 'base.html.twig' %}

{% block title %}Reserva index{% endblock %}

{% block body %}
    <h1>Reserva index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Duracion</th>
                <th>Importe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reserva in reservas %}
            <tr>
                <td>{{ reserva.id }}</td>
                <td>{{ reserva.fecha ? reserva.fecha|date('Y-m-d') : '' }}</td>
                <td>{{ reserva.hora ? reserva.hora|date('H:i:s') : '' }}</td>
                <td>{{ reserva.duracion }}</td>
                <td>{{ reserva.importe }}</td>
                <td>
                    <a href="{{ path('app_reserva_show', {'id': reserva.id}) }}">show</a>
                    <a href="{{ path('app_reserva_edit', {'id': reserva.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reserva_new') }}">Create new</a>
{% endblock %}
