{% extends 'base.html.twig' %}

{% block title %}Instalacion{% endblock %}

{% block body %}
    <h1>Instalacion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ instalacion.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ instalacion.nombre }}</td>
            </tr>
            <tr>
                <th>PrecioHora</th>
                <td>{{ instalacion.precioHora }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_instalacion_index') }}">back to list</a>

    <a href="{{ path('app_instalacion_edit', {'id': instalacion.id}) }}">edit</a>

    {{ include('instalacion/_delete_form.html.twig') }}
{% endblock %}
